// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rotate180{
  transform: rotate(-180deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
}

.rotate_minus90{
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}

.rotate_plus90{
  transform: rotate(+90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(+90deg);
  /* Firefox */
  -moz-transform: rotate(+90deg);
  /* IE */
  -ms-transform: rotate(+90deg);
  /* Opera */
  -o-transform: rotate(+90deg);
}
